.root {
  color: red;
  width: 100vw;
  height: 100%;
  position: relative;
  &.default {
    background-image: var(--theme--default--bgi--);
  }
  &.dark {
    background-image: var(--theme--dark--bgi--);
  }
  :global {
    .tip {
      position: absolute;
      top: 2%;
      left: 85%;
    }
    .section {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 500px;
      height: 400px;
      border-radius: 10%;
      background-color: #fff;
      &.dark {
        background-color: var(--theme--dark--backgroundolor--);
      }
    }

    .default .ant-input-affix-wrapper,
    .default .ant-input {
      background-color: var(--theme--default--color--);
    }
    .dark .ant-input-affix-wrapper,
    .dark .ant-input {
      background-color: var(--theme--dark--color--);
    }
    .ant-btn {
      &.dark {
        background-color: var(--theme--dark--color--);
      }
    }
    .dark .ant-form-item-label > label {
      color: var(--theme--default--color--);
    }
  }
}
