@import '../../../../../theme/mixin.scss';

.root {
  position: relative;
  margin: 0 auto;
  text-align: center;
  :global {
    .moveNumber {
      position: absolute;
    }
    .ant-btn-primary.red {
      @include changeBackgroundColor(red);
    }
    .ant-btn-primary.orange {
      @include changeBackgroundColor(orange);
    }
    .ant-btn-primary.yellow {
      @include changeBackgroundColor(yellow);
    }
    .ant-btn-primary.green {
      @include changeBackgroundColor(green);
    }
    .ant-btn-primary.blueness {
      @include changeBackgroundColor(rgb(82, 230, 82));
    }
    .ant-btn-primary.blue {
      @include changeBackgroundColor(blue);
    }
    .ant-btn-primary.purple {
      @include changeBackgroundColor(purple);
    }
    .ant-btn-primary.black {
      @include changeBackgroundColor(black);
    }
    .ant-btn-primary.gray {
      @include changeBackgroundColor(red);
    }
    header {
      font-size: 20px;
    }
    .content {
      display: flex;
      .board {
        transform: translate3d(0, 0, 0);
        flex: 4;
        button {
          margin-bottom: 1%;
        }
        .row {
          display: flex;
          height: 10%;
          .cell {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            // border: 1px solid #000;
            cursor: alias;
            &.top {
              border-top: 3px solid red;
            }
            &.bottom {
              border-bottom: 3px solid red;
            }
            &.left {
              border-left: 3px solid red;
            }
            &.right {
              border-right: 3px solid red;
            }
            &.system {
              background-color: gray;
            }
            .user {
              color: #1890ff;
            }
            .system {
              color: #ccc;
            }
            .error {
              font-size: large;
              color: red;
            }
          }
        }
        .number {
          .ant-btn-primary {
            border-width: 3px;
            border-color: ghostwhite;
            margin: 10px 10px;
          }
          #currentColor {
            border-color: #1890ff;
          }
        }
      }
      .tip {
        flex: 6;
        margin-left: 1%;
        .ant-list {
          overflow: auto;
          // max-height: 100%;
        }
      }
    }
  }
}
